<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link type="text/css" href="./style.css" rel="stylesheet">
        <title><%=title %></title>
    </head>

    <body>
        <header>
            <h1>Index</h1>
        </header>
        <div role="main">
            <h1><%=title %></h1>
            <div>タスク1</div>
            <div>タスク2</div>
            <div>タスク3</div>
            <p><a href="other">Other Pageに移動 &gt;&gt;</a></p>
        </div>
    </body>

</html>